<div class="container my-4" *ngIf="!selectedEvent">
  <button class="btn btn-danger btn-fab fixed-top-right" title="Add" (click)="createNewEvent()">
    <i class="fa fa-plus"></i>
  </button>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Interventi di manutenzione</h3>
      <div class="card-text">
        <ngx-datatable class="material expandable ngx-datatable fixed-header fixed-row scroll-vertical selectable single-selection"
          [rows]="events" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="0" [rowHeight]="'auto'" [selected]="selected"
          [selectionType]="'single'" (activate)="onActivate($event)" (select)='onSelect($event)'>
          <ngx-datatable-column name="Data Misura">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row.dataMisura}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Cambio acqua">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row.manutenzione.acqua}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Potatura">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row.manutenzione.potatura}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Cambio Lana Filtro">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row.manutenzione.filtroLana}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Pulizia Spugna Filtro">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row.manutenzione.filtroSpugne}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Pulizia Pompa">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row.manutenzione.filtroPompa}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Pulizia Vetro">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row.manutenzione.vetro}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Annotazioni">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row.note}}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
<div class="container my-4" *ngIf="selectedEvent">
  <app-event-detail [event]="selectedEvent" [createHandler]="addEvent" [updateHandler]="updateEvent" [deleteHandler]="deleteEvent">
  </app-event-detail>
</div>
