<div class="full-page-container">

  <button class="btn btn-danger btn-fab fixed-top-right" title="Add" (click)="createNewEvent()" data-toggle="modal" data-target="#detail-modal">
    <i class="fa fa-plus"></i>
  </button>

  <div class="modal" id="detail-modal" tabindex="-1" role="document" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <app-event-detail></app-event-detail>
  </div>

  <div class="jumbotron home py-3">
    <ngb-carousel>
        <ng-template ngbSlide>
          <img src="assets/img/sfondo1.png" alt="" class="img-fluid">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/img/sfondo2.png" alt="" class="img-fluid">
        </ng-template>
      </ngb-carousel>
  </div>


  <div class="container my-3">
    <div class="row">
      <div class="col">
        <div class="card h-100">
          <div class="card-body text-center">
            <i class="card-title fa fa-eyedropper"></i>
            <h4 class="card-title">Test dell'acqua</h4>
            <p class="card-text">Ultimo test dell'acqua risale al {{dataTest | date }}</p>
            <a class="card-link" routerLinkActive="active" [routerLink]="['test']">Vai alla pagina</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body text-center">
            <i class="card-title fa fa-leaf"></i>
            <h4 class="card-title">Fertilizzazione</h4>
            <p class="card-text">Ultima fertilizzazione risale al {{dataFerti | date }}</p>
            <a class="card-link" routerLinkActive="active" [routerLink]="['ferti']">Vai alla pagina</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body text-center">
            <i class="card-title fa fa-wrench"></i>
            <h4 class="card-title">Manutenzione</h4>
            <p class="card-text">Ultima manutenzione risale al {{dataManu | date }}</p>
            <a class="card-link" routerLinkActive="active" [routerLink]="['manutenzione']">Vai alla pagina</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="calendarData">
    <div class="row justify-content-center my-5">
      <div class="col-10">
        <div class="card ">
          <div class="card-body">
            <div id="fullcalendar" [appFullCalendar]="calendarData"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
