@import url(https://fonts.googleapis.com/css?family=Quicksand);
// Variable Overrides
$body-bg: #ededed;
$theme-colors: ('primary': #00cbd9); // Bootstrap Sass Imports
@import '../../node_modules/bootstrap/scss/bootstrap';
$jumbo-bg: white;
$primary: #00cbd9;

body {
  font-family: Quicksand, Roboto, cursive;
}

.jumbotron {
  background-color: $body-bg;
  border-top: 0.5rem solid $body-bg;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.font-fancy {
  font-family: Quicksand, Roboto, cursive;
  font-size: 2rem;
}

.img-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.btn-fab {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  padding: 0;
  line-height: 3.25rem;
  font-size: 1rem;
  &.btn-lg {
    width: 4.25rem;
    height: 4.25rem;
    line-height: 4.25rem;
    font-size: 1.25rem;
  }
  &.btn-sm {
    width: 2.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
    font-size: 0.9rem;
  }
  &.btn-xs {
    width: 1.5rem;
    height: 15rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
  }
  &.fixed-bottom-right {
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    z-index: 5;
  }
  &.fixed-top-right {
    position: fixed;
    right: 5rem;
    top: 8rem;
    z-index: 5;
  }
}

/* Modal fixed width */
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

.ngx-datatable.material.single-selection .datatable-body-row.active,
.ngx-datatable.material.single-selection
  .datatable-body-row.active
  .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection
  .datatable-body-row.active
  .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection
  .datatable-body-row.active
  .datatable-row-group {
  background-color: $primary !important;
}
.ngx-datatable.material.single-selection .datatable-body-row.active:hover,
.ngx-datatable.material.single-selection
  .datatable-body-row.active:hover
  .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-selection
  .datatable-body-row.active:hover
  .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-click-selection
  .datatable-body-row.active:hover
  .datatable-row-group {
  background-color: !important;
}

/* Calendar */
@import 'calendar';
