@import url(https://fonts.googleapis.com/css?family=Quicksand);
// Variable Overrides 
$body-bg: #ededed;
$theme-colors: ( "primary": #00cbd9); // Bootstrap Sass Imports
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
$jumbo-bg: white;

body {
  font-family: Quicksand, Roboto, cursive;
}

.jumbotron {
  background-color: $jumbo-bg;
  border-top: 1rem solid $body-bg;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;	
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	z-index: 1;
}

.modal{
	z-index: 2;
}

.wrapper{
  -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
	filter: blur(2px);
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.footer {
  bottom: 1rem;
  right: 1rem;
  position: fixed;
}

.font-fancy {
  font-family: Quicksand, Roboto, cursive;
  font-size: 2rem;
}

.img-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.btn-fab {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  padding: 0;
  line-height: 3.25rem;
  font-size: 1rem;
  &.btn-lg {
    width: 4.25rem;
    height: 4.25rem;
    line-height: 4.25rem;
    font-size: 1.25rem;
  }
  &.btn-sm {
    width: 2.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
    font-size: 0.9rem;
  }
  &.btn-xs {
    width: 1.5rem;
    height: 15rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
  }
  &.fixed-bottom-right {
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    z-index: 5;
  }
  &.fixed-top-right {
    position: fixed;
    right: 5rem;
    top: 8rem;
    z-index: 5;
  }
}
